{% extends "base.html" %}

{% block title %}ログイン{% endblock %}

{% block content %}
<h1>{{ _('Login') }}</h1>
<form method="POST">
    <label for="username">{{ _('Username:') }}</label>
    <input type="text" id="username" name="username" required><br><br>
    <label for="password">{{ _('Password:') }}</label>
    <input type="password" id="password" name="password" required><br><br>
    <input type="submit" value="{{ _('Login') }}">
</form>
<p>{{ _("Don't have an account?") }} <a href="{{ url_for('register') }}">{{ _('Register here') }}</a>.</p>
{% endblock %}
